
<section class="text-center">
    <div class="container">
        <h2>{{title}}</h2>
        <h3>{{subtitle}}</h3>
        <h5>{{email}}</h5>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <h5>Sobre mi</h5>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi accusamus modi fugit, 
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
            cupiditate hic esse nemo animi rem perferendis sapiente, ea illum dolores alias, nostrum et dolore atque! Veniam.
        </p>
    </div>
</div>