<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="col" >
                <div class="card">
                    <div *ngIf="project.image">

                        <img src="{{url+'get-image/'+project.image}}" class="card-img-top" alt="..." width="50%" height="50%">
                    </div>

                  <div class="card-body">

                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-5">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
            <p class="card-text">{{project.category}}</p>
            <p class="card-text">{{project.year}}</p>
            <p *ngIf="confirm ==false">
                <a [routerLink]="['/editar',project._id]" class="btn btn-warning">Editar2</a>
                <a routerLink="/editar/{{project._id}}" class="btn btn-warning">Editar</a>
                <a (click)="setConfirm(true)" class="btn btn-danger">Eliminar</a>
            </p>

            <p *ngIf="confirm ==true">
                <a (click)="setConfirm(false)" class="btn btn-warning">Cacelar</a>
                <a (click)="deleteProject(project._id)" class="btn btn-danger">Eliminar definitivamente</a>
            </p>
        </div>
    </div>
</div>
